.rounded-button-purple {
    background-color: #7066e0 !important;
    width: 2rem !important;
    height: 2rem !important;
};

.rounded-button-purple:hover {
    background-color: #6459dd !important;
};
