.rounded-button {
    color: #787878 !important;
    width: 2rem !important;
    height: 2rem !important;
};

.rounded-button:hover {
    background-color: #eaeaea !important;
    color: #555 !important;
};
